{% extends 'base.html' %}


{% block title %}Game Board {{ super() }}{% endblock %}


{% block content %}
    <div class="community">

    <h1>Community Highscores</h1>
    {% if highscores %}
        <ul>
            {% for score in highscores %}
                <li>score</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Currently, there are no highscores. YEET</p>
    {% endif %}
    </div>

    {% if session.get('logged_in') %}

        <div class="personal">
        <h1>Personal Highscores</h1>
        {% if highscores %}
            <ul>
                {% for score in highscores %}
                    <li>score</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Currently, there are no highscores. YEET</p>
        {% endif %}
        </div>

        <br>

        <div class="games">
        <h1>Games</h1>
        {% if games %}
            <ul>
                {% for game in games %}
                    <li><a href="{{ url_for('game', game_id = game.id) }}">{{ game.game_title() }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Currently, there are no games available to play.</p>
        {% endif %}
        </div>
    {% endif %}


{% endblock %}
